@font-face {
    src: url("fonts/RobotoMono-Medium.ttf");
}

/* Root node */

.root {
    -fx-background-color: -fx-root-colour;
    -fx-font: 12 "Roboto Mono Medium";
    -fx-text-fill: -fx-text-colour;
}

/* Visualisations */

.vis {
    -fx-background-color: -fx-root-colour;
}

.ainur-vis {
}

.graph-vis {
    -fx-padding: 10 10 0 10;
}

.stats-vis {
    -fx-padding: 10 10 0 0;
}

.schedule-vis {
    -fx-padding: 10 10 10 10;
}

.inner-schedule {
    -fx-padding: 20 25 10 25;
}

.canvas-padding {
    -fx-padding: 0 20 20 5;
}

.stats-vis * {
    -fx-background-color: -fx-primary-colour !important;
    -fx-text-fill: -fx-text-colour !important;
}

.schedule-vis * {
    -fx-background-color: -fx-secondary-colour;
    -fx-text-fill: -fx-text-colour;
}

.stats-content {
    -fx-stroke: -fx-node-highlight-colour;
}

.time-label {
    -fx-font-size: 20;
}

.finished-label {
    -fx-font: bold 20 "Roboto Mono Medium";
    -fx-text-fill: -fx-green-colour !important;
}

.time-label-finished {
    -fx-text-fill: -fx-green-colour !important;
}


.scroll-bar {
    -fx-font-size: 18;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: -fx-light-black-colour;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .decrement-arrow,
.scroll-bar .increment-arrow {
    -fx-background-color: -fx-light-black-colour;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-light-black-colour;
    -fx-background-radius: 5em;
}

/* Window stuff */

.window-border {
    -fx-border-color: -fx-light-black-colour;
    -fx-border-width: 0 4 4 4;
}

.tool-bar {
    -fx-background-color: -fx-light-black-colour;
    -fx-padding: 0;
}

.close-button {
    -fx-background-color: -fx-light-black-colour;
    -fx-text-fill: -fx-white-colour;
    -fx-font-size: 14;
    -fx-background-radius: 0;
    -fx-fill-width: 20px;
}

.close-button:hover {
    -fx-background-color: -fx-lighter-black-colour;
}

