@font-face {
    src: url("RobotoMono-Medium.ttf");
}

.root {
    -fx-background-color: #fafafa;
    -fx-font: 12 "Roboto Mono Medium";
    -fx-text-fill: #fafafa;
}

.vis {
    -fx-padding: 10;
}

.stats-vis * {
    -fx-background-color: #b8a2ff !important;
    -fx-text-fill: #fafafa;
}

.schedule-vis * {
    -fx-background-color: #ffdba2;
    -fx-text-fill: #fafafa;
}

.tool-bar {
    -fx-background-color: #484848;
    -fx-padding: 0;
}

.close-button {
    -fx-background-color: #484848;
    -fx-text-fill: #fafafa;
    -fx-font-size: 14;
    -fx-background-radius: 0;
    -fx-fill-width: 20px;
    -fx-alignment: center-right;
}

.close-button:hover {
    -fx-background-color: #6d6d6d;
    -fx-font: bold 14.5 "Roboto Mono Medium";
}

.stats-content {
    -fx-stroke: #ffdba2;
}

.text-color {
    -fx-text-fill: #fafafa;
}

.time-label {
    -fx-font-size: 20;
}

.title-main {
    -fx-font-size: 15;
}

.title-sub {
    -fx-font-size: 12;
}

