@font-face {
    src: url("RobotoMono-Medium.ttf");
}

/* Colours */

* {
    /***** IF YOU CHANGE A COLOUR HERE ALSO CHANGE IT IN THE Config CLASS (common.Config) *****/
    -fx-primary-colour: #b8a2ff;
    -fx-seconday-colour: #ffdba2;
    -fx-light-black-colour: #484848;
    -fx-lighter-black-colour: #6d6d6d;
    -fx-green-colour: #a2ffcd;
    -fx-white-colour: #fafafa;
}

/* Root node */

.root {
    -fx-background-color: -fx-white-colour;
    -fx-font: 12 "Roboto Mono Medium";
    -fx-text-fill: -fx-white-colour;
}

/* Visualisations */

.vis {
    -fx-background-color: -fx-white-colour;
}

.ainur-vis {
}

.graph-vis {
    -fx-padding: 10 10 0 10;
}

.stats-vis {
    -fx-padding: 10 10 0 0;
}

.schedule-vis {
    -fx-padding: 10 10 10 10;
}

.stats-vis * {
    -fx-background-color: -fx-primary-colour !important;
    -fx-text-fill: -fx-white-colour !important;
}

.schedule-vis * {
    -fx-background-color: -fx-seconday-colour;
    -fx-text-fill: -fx-white-colour;
}

.stats-content {
    -fx-stroke: -fx-seconday-colour;
}

.time-label {
    -fx-font-size: 20;
}

.finished-label {
    -fx-font: bold 20 "Roboto Mono Medium";
    -fx-text-fill: -fx-green-colour !important;
}

.time-label-finished {
    -fx-text-fill: -fx-green-colour !important;
}

/* Window stuff */

.window-border {
    -fx-border-color: -fx-light-black-colour;
    -fx-border-width: 0 4 4 4;
}

.tool-bar {
    -fx-background-color: -fx-light-black-colour;
    -fx-padding: 0;
}

.close-button {
    -fx-background-color: -fx-light-black-colour;
    -fx-text-fill: -fx-white-colour;
    -fx-font-size: 14;
    -fx-background-radius: 0;
    -fx-fill-width: 20px;
}

.close-button:hover {
    -fx-background-color: -fx-lighter-black-colour;
}

